<div class="bg-[#f7f7f7] w-full h-screen flex justify-center items-center">
    <div class="w-[1010px] h-[341px]  left-[214px] gap-[200px] flex justify-center items-center ">
       <div class="w-full h-[341px]">
        <img src="assets/Looking2.png" alt="" class="w-full h-[399px]">
       </div>
        <div class="w-[325px] h-[275px] flex flex-col gap-[50px]">
            <div class="w-[375px] h-[72px]">
                <h5 class="font-semibold font-sans text-24px leading-[32.68px]">
                    Find seekers perfect for you!
                </h5>
                <p class="font-normal text-[14px] leading-[19.07px] text-[#757575]">
                    Connect with housemates that make your house a home.
                </p>
            </div>
            <div class="w-full h-[153px] flex flex-col gap-[90px]">
                <div class="rounded-[20px] py-[13px] PX-[140px] gap-[10px] bg-[#1C9EA5]">
                    <a href="/listing-space" class="">
                        <p class="text-center text-white">
                            Getting Started
                        </p>
                    </a>
                </div>
                <a href="" class="text-center font-normal text-[#757575] font-sans text-[14px] leading-[19.07px]">
                    No I am looking for a place <a href='listing-space'class="text-primary">Click here</a>
                </a>
            </div>
        </div>
    </div>
</div>

