<div class="min-w-[1440px] min-h-[350px] flex justify-evenly py-[60px] px-[50px] gap-[10px] bg-[#ffeee5]">
<app-card
  [image]="'/assets/bedroom2.jpg'"
  [title]="'Providing a Space?'"
  [description]="'Make a listing to attract people to your property or extar space'"
  [href_name]="'List my space'"
/>

<app-card
  [image]="'/assets/Looking.jpg'"
  [title]="'Need a Space?'"
  [description]="'Create a list for people filling a room can discover you'"
  [href_name]="'Find a space'" 
  [href_url]="'/listing-form'" 
/>
</div>
