<div class="w-[953px] h-[500px] rounded-[20px] bg-white border border-gray-500">
    <div class="space-y-16  flex flex-col pt-10 justify-center items-center">
        <div class="w-[381px] h-[33px] flex flex-col items-center  ">
            <p class="font-sans font-semibold text-[22px] leading-[32.68ps] text-[#121212]">
                Lifestyle choices
            </p>
        </div>
        <div class="pt-[28px] flex flex-col">
           <div>
               <input type="text" placeholder="Say something about yourself" class="w-[514px] h-[217px] rounded-[30px] border focus:outline-none px-3 border-[#E0E0E0]">
           </div>
           <p class="font-sans font-normal text-[14px] leading-[19.07px] w-[493px] h-[57px] text-[#757575]">
            Little side note. You'd be more likely to connect with a house owner if you 
            write nice things about yourself. Show your interests, what you do for work 
            and why your home is the ideal space for your housemate.
        </p>
        </div>
    </div>   
</div>
