<div class="w-[655px] min-h-[229] rounded-[30px] justify-between py-[34px] px-[40px] bg-[#ffffff] gap-[10px] ">
    <div class="flex justify-normal w-[575px] min-h-[161px] gap-[20px]">
        <img [src]="image" alt="Table image" class="w-[320px] h-[148px]">
        <div class="w-[235px] min-h-[151px] gap-[30px]">
            <div class="min-w-[238px] flex flex-col min-h-[87] gap-10">
                <h5 class="font-semibold font-sans text-[24px] text-[#757575] leading-[32.68px] ">
                    {{ title }}
                </h5>
                <p class="font-sans font-normal text-[16px] text-[#757575] leading-[]21.79px">
                    {{description}}
                </p>
                    <a href={{href_url}} class="w-[235px] h-[44px] rounded-[20px] py-[13px] px-[65px] bg-[#1c9ea5]">
                      <p class="font-sans font-semibold text-[16px] text-center leading-[21.97px] text-white/90 ">
                        {{href_name}}
                      </p>  
                    </a>
            </div>

        </div>
    </div>


</div>
