<div class="w-[953px] h-[500px] rounded-[20px] bg-white border border-gray-500">
    <div class="space-y-10  flex flex-col pt-10 justify-center items-center">
        <div class="w-[381px] h-[33px] flex flex-col items-center  ">
            <p class="font-sans font-semibold text-[22px] leading-[32.68ps] text-[#121212]">
                Living Customization
            </p>
        </div>  
         <div class="w-[658px] h-[402px] pt-[18px] space-y-[15px]">
            <div class="w-[558px] h-[78px] space-y-[7px]">
                <p class="w-[111px] h-[19px] font-sans font-normal text-[12px] leading-[19.07px]">
                    Room furnishings
                </p>
                <div class="py-2 flex justify-between pl-4 pr-8 border rounded-xl border-gray-200">
                    <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Flexible</label>
                      </form>
                      <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Not required</label>
                      </form>
                      <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Required</label>
                      </form>
                </div>
                <p class="w-[111px] h-[19px] font-sans font-normal text-[12px] leading-[19.07px]">
                    Internet
                </p>
                <div class="py-2 flex justify-between pl-4 pr-8 border rounded-xl border-gray-200">
                    <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Flexible</label>
                      </form>
                      <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Required</label>
                      </form>
                </div>
                <p class="w-[111px] h-[19px] font-sans font-normal text-[12px] leading-[19.07px]">
                    Bathroom type
                </p>
                <div class="py-2 flex justify-between pl-4 pr-8 border rounded-xl border-gray-200">
                    <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Flexible</label>
                      </form>
                      <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Ensuite or own required</label>
                      </form>
                </div>
                <p class="w-[111px] h-[19px] font-sans font-normal text-[12px] leading-[19.07px]">
                    Parking
                </p>
                <div class="py-2 flex justify-between pl-4 pr-8 border rounded-xl border-gray-200">
                    <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Flexible</label>
                      </form>
                      <form class="space-x-1 ">
                        <input type="checkbox" class=" w-3 h-3 rounded-full" name="acceptTerms">
                        <label for="Flexible" class="font-normal text-[16px] text-[#424242] leading-[21.79px] font-sans">Off-street required</label>
                      </form>
                </div>
            </div>
         </div>
    </div>
</div>
