<div class="bg-white px-[100px] py-[11px] w-full h-[90px]">
    <div class="flex justify-between items-center w-full min-h-[47px]   ">
        <div>
            <a href="/" class="font-normal text-[30px] w-[133px] h-[33px] font-archivo leading-[32.64px] text-primary/80">
                ROOMZ.
             </a>
        </div>
         <div class="min-w-[867px] gap-[40px] min-h-[47px]">
            <div class="p-[10] g-[10px] min-w-[143px] flex justify-evenly items-center min-h-[47px]">
            <a href="" class="w-[130px] h-[27px] "> 
                <h6 class="font-semibold text-[20px] text-secondary hover:text-primary leading-[27.24px]">
                    Rent a Space
                </h6>
            </a>
            <a href="" class="w-[123px] h-[27px] "> 
                <h6 class="font-semibold text-[20px] text-primary hover:text-secondary leading-[27.24px]">
                   Holiday
                </h6>
            </a>
            <a href="" class="w-[236px] h-[27px] "> 
                <h6 class="font-semibold text-[20px] text-primary  hover:text-secondary leading-[27.24px]">
                    Property Maintainance
                </h6>
            </a>
            <a href="" class="w-[123px] h-[27px] "> 
                <h6 class="font-semibold text-[20px] text-primary  hover:text-secondary leading-[27.24px]">
                    Marketplace
                </h6>
            </a>
            <div class="w-5 h-5">
                <p-avatar 
                icon="pi pi-user" 
                styleClass="mr-2 rounded-full" size="normal" />
            </div>
            </div>
        </div>
    </div>
</div>
