<div class="bg-custom relative w-full bg-cover bg-center flex justify-center items-center  h-[568px] ">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    <div class="relative">
        <div class=" min-w-[1057px] min-h-[86px] top-[209px] gap-[15px] left-[191.5px]">
            <h3 class="font-semibold font-merriweather text-[50px] leading-[60px] text-center text-white">
                Find your <span class="text-[#1C9EA5] bg-white py-[10px] px-[20px] rounded-md">
                    Ideal Housemate</span> today!
            </h3>
        </div>
    </div>
    
</div>
