<div class="w-[953px] h-[500px] rounded-[20px] bg-white border border-gray-500">
    <div class="space-y-16  flex flex-col pt-10 justify-center items-center">
        <div class="w-[381px] h-[33px] flex flex-col items-center  ">
            <p class="font-sans font-semibold text-[22px] leading-[32.68ps] text-[#121212]">
                Stay duration and budget
            </p>
            <p class="font-sans text-[14px] leading-[19.07px] font-normal text-[#757575]">
                Kindly fill the appropriate details
            </p>
        </div>
        <div class="w-[253px] h-[68px] pt-[83px] space-y-[5px]">
            <p class="w-[117px] h-[14px] text-[#757575] font-normal font-sans leading-[19.07px]">
                Weekly budget USD
            </p>
            <input type="number" [defaultValue]="500" class="w-[200px] h-[40px] px-4 border border-gray-400 rounded-[10px] text-[#121212]  font-normal leading-[19.07px]" />
        </div>

        <div class="w-[253px] h-[68px] pt-[10px] space-y-[5px]">
            <form action="">
                <input type="date" placeholder="Date"  class="text-[#424242] font-normal text-[16px] border border-gray-300 rounded p-2 focus:border-blue-500 focus:outline-none">
            </form>
        </div>

        <div class="w-[253px] h-[68px]  space-y-[5px]">
            <p class="w-[117px] h-[14px] text-[#757575] font-normal font-sans leading-[19.07px]">
                Stay duration (weeks)
            </p>
            <input type="number" [defaultValue]="4" class="w-[200px] h-[40px] px-4 border border-gray-400 rounded-[10px] text-[#121212]  font-normal leading-[19.07px]" />
    </div>
</div>

